{% extends "NutrirBoxBundle::base.html.twig" %}
{% block title 'Dashboard' %}
{% block header %} Dashboard {% endblock %}
{% block subheader %} Estatíticas {% endblock %}

{% block body %}
    <div class="row">
        <div class="col-xs-12">
            <div class="row">
            </div>
        </div>
    </div>
{% endblock %} 